<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8e73b0">  <td>18/09/01 21:44:40</td>   <td>0</td> <td title="&gt;&gt;HtmlReporter.startResult()[pri:0, instance:testcases.TC005_MergeLead@3632be31]">&gt;&gt;startResult</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1241276575</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>18/09/01 21:44:41</td>   <td>780</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC005_MergeLead.setData()[pri:0, instance:testcases.TC005_MergeLead@3632be31]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1241276575</td>   <td></td> </tr>
<tr bgcolor="8e73b0">  <td>18/09/01 21:44:42</td>   <td>1506</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HtmlReporter.startTestCase()[pri:0, instance:testcases.TC005_MergeLead@3632be31]">&gt;&gt;startTestCase</td> 
<td>&nbsp;</td>  <td>main@1241276575</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>18/09/01 21:44:42</td>   <td>1537</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC005_MergeLead.mergeLead(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.TC005_MergeLead@3632be31]">mergeLead</td> 
  <td>main@1241276575</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>18/09/01 21:44:42</td>   <td>1560</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC005_MergeLead.mergeLead(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.TC005_MergeLead@3632be31]">mergeLead</td> 
  <td>main@1241276575</td>   <td></td> </tr>
</table>
