<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="67aeb6">  <td>18/09/02 07:37:46</td>   <td>0</td> <td title="&gt;&gt;HtmlReporter.startResult()[pri:0, instance:tests.TC005_MergeLead@2286778]">&gt;&gt;startResult</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@982007015</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>18/09/02 07:37:47</td>   <td>1081</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC005_MergeLead.setData()[pri:0, instance:tests.TC005_MergeLead@2286778]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@982007015</td>   <td></td> </tr>
<tr bgcolor="67aeb6">  <td>18/09/02 07:37:48</td>   <td>1876</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HtmlReporter.startTestCase()[pri:0, instance:tests.TC005_MergeLead@2286778]">&gt;&gt;startTestCase</td> 
<td>&nbsp;</td>  <td>main@982007015</td>   <td></td> </tr>
<tr bgcolor="9fad9d">  <td>18/09/02 07:37:48</td>   <td>1898</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:tests.TC005_MergeLead@2286778]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@982007015</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>18/09/02 07:38:01</td>   <td>14939</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC005_MergeLead.mergeLead(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:tests.TC005_MergeLead@2286778]">mergeLead</td> 
  <td>main@982007015</td>   <td></td> </tr>
<tr bgcolor="67aeb6">  <td>18/09/02 07:38:19</td>   <td>32521</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HtmlReporter.startTestCase()[pri:0, instance:tests.TC005_MergeLead@2286778]">&gt;&gt;startTestCase</td> 
<td>&nbsp;</td>  <td>main@982007015</td>   <td></td> </tr>
<tr bgcolor="9fad9d">  <td>18/09/02 07:38:19</td>   <td>32522</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:tests.TC005_MergeLead@2286778]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@982007015</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>18/09/02 07:38:30</td>   <td>44052</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC005_MergeLead.mergeLead(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:tests.TC005_MergeLead@2286778]">mergeLead</td> 
  <td>main@982007015</td>   <td></td> </tr>
<tr bgcolor="67aeb6">  <td>18/09/02 07:38:47</td>   <td>61043</td> <td title="&lt;&lt;HtmlReporter.stopResult()[pri:0, instance:tests.TC005_MergeLead@2286778]">&lt;&lt;stopResult</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@982007015</td>   <td></td> </tr>
</table>
